@CHARSET "UTF-8";

body{
	margin:0;
	font-size: 0.8em;
	font-family: tahoma,verdana,sans-serif;
	color:black;
}
#header,#menu,#content,#footer{
	float:left;
}
#base{
	margin:auto;
	width:980px;
	height:auto;
}
#header{
	height:60px;
	width:100%;
	background: url("../../images/top.png") top center no-repeat;
}
#menu{
	height:auto;
	width:200px;
	font-size: 0.9em;
}
#content{
	width:780px;
	height:500px;
	font-size:1em;
}
#content h1{
	color:#8E9DAF;
}
#content h2{
	font-family: Trebuchet MS;
	font-size:1.2em;
	color:#5F7F6F;
}
#content ul{
	list-style: url("../../images/busca.png")
}
#content p{
	margin-bottom:15px;
}
#content img{
	margin:10px;
}
#content div.block{
	width:340px;
	float:left;
}
#footer{
	width:100%;
	height:20px;
	background-color:#e7f1e3;
	font-size:0.65em;
	color:#555;
	padding:5px;
	text-align:right;
}
#menu ul{
	list-style:none;
	padding:10px;
	padding-left:0;
	margin:0;
}

#menu ul li{
	padding:2px;
	padding-left:0px;
	margin-left:0;
	margin-bottom:15px;
	height:25px;
	border-bottom:1px dotted green;
	border-left:0px solid green;
}
#menu ul li span {
	margin-right: 2px;
	padding:12px;
	float: left;
}

#menu ul li span#id_cadm {
	background: url("../../images/monografia.png") no-repeat;
	background-position: center;
}
#menu ul li span#id_cadp {
	background: url("../../images/projeto.png") no-repeat;
}
#menu ul li span#id_ajuda {
	background: url("../../images/ajuda.png") no-repeat;
}
#menu ul li span#id_aluno {
	background: url("../../images/aluno.png") no-repeat;
}
#menu ul li span#id_prof {
	background: url("../../images/professor.png") no-repeat;
}
#menu ul li:hover{
	cursor:pointer;
	background-color:#e7f1e3;
}
#menu ul li:active{
	border-left-color: yellow;
	color:yellow;
}

/** FORMS **/

input,select,textarea {
	background-color: #e7f1e3;
	border-style:solid;
	border-color: #cbd7c4;
	border-width: 0.5px;
	font: 11px verdana, arial, helvetica, sans-serif;
	margin: 1px 0px;
	padding: 3px 0px;
}

select {
	padding: 2px 2px 2px 0;
}

textarea {
	width: 400px;
	height: 80px;
	vertical-align: top;
}

textarea#keywords {
	height: 40px;
}

input#idtitulo {
	width: 188px;
}

input#pdf {
	width: 188px;
	border-style:solid;
	border-color: #cbd7c4;
	border-width: 0.5px;
	font: 11px verdana, arial, helvetica, sans-serif;
	margin: 1px 0px;
	padding: 3px 0px;
}
#login {
	text-align:right;
}
#logoff{
	display:inline-block;
	line-height:20px; /* check your icon height */
	padding-left:24px;
	background: url(../../images/logoff.png)  center left no-repeat;
}

a[href$='#b'] {
	display:inline-block;
	line-height:24px; /* check your icon height */
	padding-left:20px;
	background: url(../../images/buscar.png)  center left no-repeat;
}

a[href$='.pdf'] {
	display:inline-block;
	line-height:18px; /* check your icon height */
	padding-right:20px;
	background: transparent url(../../images/pdf.png)  center right no-repeat;
}

input[disabled] {
	border: 0px;
	background-color: #fff;
}
input:focus,select:focus,textarea:focus {
	border: 1.5px solid #5dab37;
}
.cadastro {
	border:0;
	width: 200px;
}

fieldset #abusca {
	border-style:dotted;
	border-width: 0.5px;
	border-color: #ccc;
	margin-left: auto;
	margin-right: auto;
}

.legenda {
	font-weight: bold;
	color: #ccc;
	font-weight: normal;
	font-size: 16px;
}

#login_mess{
	text-align: center;
	color: maroon;
}