@CHARSET "UTF-8";

body{
	margin:0;
	font-size: 0.8em;
	font-family: tahoma,verdana,sans-serif;
	color:black;
}
#header,#menu,#content,#footer{
	float:left;
}
#base{
	margin:auto;
	width:980px;
	height:auto;
}
#header{
	height:60px;
	width:100%;
	background: url("../images/top.png") top center no-repeat;
}
#menu{
	height:auto;
	width:200px;
	font-size: 0.9em;
}
#content{
	width:780px;
	height:500px;
	font-size:1em;
}
#content h1{
	color:#8E9DAF;
}
#content h2{
	font-family: Trebuchet MS;
	font-size:1.2em;
	color:#5F7F6F;
}
#content ul{
	list-style: url("../images/busca.png")
}
#content p{
	margin-bottom:15px;
}
#content img{
	margin:10px;
}
#content div.block{
	width:340px;
	float:left;
}
#footer{
	width:100%;
	height:20px;
	background-color:#ddd;
	font-size:0.65em;
	color:#555;
	padding:5px;
	text-align:right;
}
#menu ul{
	list-style:none;
	padding:5px;
	padding-left:0;
	margin:0;
}
#menu ul li{
	padding:5px;
	padding-left:5px;
	margin-left:0;
	margin-bottom:10px;
	border-bottom:1px dotted gray;
}
#menu ul li span {
	margin-right: 2px;
	padding-left: 25px;
	padding-bottom: 7px;
}
#menu ul li span#id_con {
	background: url("../images/buscar.png") no-repeat;
}
#menu ul li span#id_ajuda {
	background: url("../images/ajuda.png") no-repeat;
}
#menu ul li span#id_contato {
	background: url("../images/contato.png") no-repeat;
}
	
#menu ul li:hover{
	cursor:pointer;
	background-color:#e7f1e3;
}
#menu ul li:active{
	border-left-color: yellow;
	color:yellow;
}

a:link,a:visited,a:hover {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}
/** FORMS **/

input,select,textarea {
	background-color: #e7f1e3;
	border-style:solid;
	border-color: #cbd7c4;
	border-width: 0.5px;
	font: 11px verdana, arial, helvetica, sans-serif;
	margin: 1px 0px;
	padding: 3px 0px;
}

select {
	padding: 2px 2px 2px 0;
}

textarea {
	width: 400px;
	height: 80px;
	vertical-align: top;
}
#login {
	text-align:right;
}
#logon{
	display:inline-block;
	line-height:32px; /* check your icon height */
	padding-left:32px;
	background: url(../images/login.png)  center left no-repeat;
}
#log_mess{
	text-align: center;
	color: maroon;
	text-decoration: blink;
}