form {
	text-align: left;
	width: 380px;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}

.form {
	margin: auto;
	padding-left: 0px;
	padding-right: 0px;
	position: absolute;
}
.form2 {
	position: absolute;
}
fieldset .cadastro {
	border-style:dotted;
	border-color: #ccc;
	border-width: 0.5px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
fieldset #abusca {
	border-top: 0.5px;
	border-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

.legenda {
	font-weight: bold;
	color: #ccc;
	font-weight: normal;
	font-size: 16px;
}

.cabecalho {
	display: block;
	width: 600px;
	height: 60px;
	background-image: url(../images/cabecalho.png);
	margin: 0 auto;
	background-color: #ff0000;
}

a:link,a:visited,a:hover {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

.updiv {
	color: #5dab37;
	font-weight: normal;
	font-size: 16px;
	margin: .8em 0 .3em 0;
	text-align: center;
}

.inputform{
	width: 80%;
}

input,select,textarea {
	background-color: #e7f1e3;
	border-style:solid;
	border-color: #cbd7c4;
	border-width: 0.5px;
	font: 11px verdana, arial, helvetica, sans-serif;
	margin: 1px 0px;
	padding: 3px 0px;
}

select {
	padding: 2px 2px 2px 0;
}

textarea {
	width: 388px;
	height: 80px;
	vertical-align: top;
}

textarea#keywords {
	height: 40px;
}

input#idtitulo {
	width: 388px;
}
input#idbusca {
	background: url(../images/busca.png) no-repeat;
	cursor:pointer;
	width:70px;
	height:20px;
	border: 0px;
}
input[disabled] {
	border: 0px;
	background-color: #fff;
}
input:focus,select:focus,textarea:focus {
	border: 1.5px solid #5dab37;
}

body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
}

h1 {
	color: #C7D92C;
	font-size: 18px;
	font-weight: 400;
}

a {
	color: white;
}
